body{
    background-color: hsl(212, 45%, 89%);
}
.container{
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container__card{
    display:flex ;
    flex-direction: column;
    width: 22em;
    height: auto;
    background-color: hsl(0, 0%, 100%);
    align-items:center ;
    border-radius: 10px;
    transition: .5s;
}
.container__card:hover{
    transform: translateY(-3px);
    box-shadow: 0 5px 17px gray;
}
.container__card img{
    width: 300px;
    height: auto;
    align-items: center;
    border-radius: 10px;
    margin: 20px 10px;
}

.container__card-tittle{
    width: 90%;
    height: auto;
    text-align: center;

}
.container__card-tittle h3{
   font-family: 'Heebo', sans-serif;
   font-weight: 700;
   color: rgb(34, 49, 77);
   margin: 5px 0;
   font-size: 1.3em;
}
.container__card-text{
    width: 90%;
    height: auto;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
    
}
.container__card-text p{
    font-family: 'Heebo', sans-serif;
    font-weight: 100;
    color: rgb(138, 143, 155);
}